@import "../../styles/main.scss";



.container {
    position: relative;
    margin: 0 1rem;
    @include hoverAnimation;
    border-radius: $standart-b-radius;


    .cartIcon {
        @include dfc;
        height: 2.5rem;
        cursor: pointer;

        svg {
            height: 2.5rem;
            width: 2.5rem;

        }
    }

    .itemCounter {
        position: absolute;
        font-size: 10pt;
        color: white;
        background-color: $red;
        border-radius: 1rem;
        padding: 0rem 0.5rem;
        right: -0.2rem;
        top: 1.3rem;
        cursor: pointer;
    }

    .cart {
        position: absolute;
        left: -16rem;
        top: 3.3rem;
        height: 0;
        width: 22rem;
        background-color: white;
        overflow: hidden;
        border-radius: $standart-b-radius;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        transition: all 0.3s ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;



        &.open {
            height: 30rem;
            transition: all 0.3s ease-in;
            overflow: auto;
        }


        .header {
            text-align: center;
            padding: 0 1rem;
            margin: 1rem;
            border: 3px solid $grey;
            border-radius: $standart-b-radius;

            font-weight: 600;
        }
    }
}

@include tablet {
    .overlay {
        display: none;
    }

    .container {
        .cart {
            position: fixed;
            width: 100%;
            left: 0;
            top: 4.2rem;
            right: 0;
            margin: auto;

            &.open {
                height: 100%;
            }
        }
    }
}