@import "../../styles/main.scss";



.lable {
    display: inline-block;
    margin: 0.5rem 1rem;
    width: 10rem;
    font-weight: 600;
    text-align: end;
}

.input {

    width: 70%;
    background-color: white;
    box-shadow: inset 1px 0px 6px rgba(0, 0, 0, 0.3);
    border-radius: $standart-b-radius;
    font-size: $size-p;

    &.input:focus {
        border: 2px solid rgb(175, 175, 175);
    }

    &.input:invalid[unfocused="true"] {
        border: 2px solid rgb(208, 24, 37);
    }

    &.input:invalid[unfocused="true"]~div {
        display: block;

    }


}

.errorMessage {
    color: rgb(208, 24, 37);
    margin-left: 28%;
    display: none;
    font-size: smaller;
    line-height: 1;
}

@include tablet {
    .lable {
        margin: 0.5rem 0;
        text-align: start;
    }

    .input {
        width: 100%;
    }

    .errorMessage {
        margin-left: 0;
        margin-top: 0.5rem;

    }

}