@import "../../styles/main.scss";

.container {
    display: flex;
    flex-wrap: wrap;

    .productContainer {
        border: 1px solid black;
        margin: 2rem;
        width: 13rem;


        box-sizing: border-box;
        // height: 5rem;

        img {
            max-height: 15rem;
            max-width: 13rem;
            // width: 1rem;
            box-sizing: border-box;

            // width: 10rem;

        }


        // .title {}

        // .class {}
    }
}