@import "../../styles/main.scss";

.container {
    width: 70%;
    height: fit-content;
    background-image: url(/cloth.jpg);
    background-size: cover;
    z-index: 3;
    position: fixed;
    border: 2px dashed black;
    transform: translateX(-110%);
    transition: transform 0.3s ease-in;
    display: flex;
    flex-direction: column;
    font-size: 24pt;
    margin-top: 4rem;

    &.open {
        transform: translateX(0);
        transition: transform 0.3s ease-in;
    }

    .headerLink {
        margin: 0.5rem 0 0.5rem 1rem;
        border-radius: $standart-b-radius;
        padding: 0.3rem;
        text-decoration: none;
        color: black;
    }
}

@include desktop {
    .overlay {
        display: none;
    }

    .container {
        display: none;
    }
}