@import "../../styles/main.scss";

.filter {
    margin: 0.5rem;
    display: flex;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;

    &.open {
        .chevron {
            transform: rotate(180deg);
        }

        .options {
            .filterListWrap {
                .filterAccordion {
                    // transition: display 0.2s ease-in;
                    display: block;
                }
            }
        }
    }

    .filterHeader {
        margin: 0 0.5rem;
        font-weight: 600;
    }

    .options {
        display: flex;

        .filterListWrap {
            position: relative;

            .filterChosen {
                margin: 0 0.5rem;
                font-weight: 600;
                color: $red;
            }

            .filterAccordion {
                display: none;
                height: 100%;
                // transition: display 0.2s ease-in;
                position: absolute;
                top: 2rem;
                right: 0;
                left: 0;

                .filterOption {
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    cursor: pointer;
                    background-color: $grey;
                    text-align: center;



                    &:hover {
                        background-color: $green;
                    }
                }
            }
        }

        .chevron {
            margin-top: 0.1rem;
            cursor: pointer;
            height: 1.5rem;
            width: 1.5rem;

            svg {
                height: 1.5rem;
                width: 1.5rem;
                padding: 0;
            }
        }
    }
}

@include tablet {
    .filter {
        flex-direction: row;
    }
}