//colors
$white: #f4f3f3;
$grey: #dfdfdf;
$green: #bfd8d5;
$blue: #b1bed5;
$red: rgb(113, 4, 53);
$asphalt: #59585e;


//shadows
$main-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

//border
$standart-b-radius: 0.5rem;