@import "./_reset.scss";
@import "../styles/main.scss";

body {
    font-family: $main-font;
    background: $white;
    margin: 0;
    scrollbar-gutter: stable;
}

/* Width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $asphalt;
    border-radius: $standart-b-radius;
    box-shadow: $main-shadow;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 59, 59);
}