@import "../../../styles/main.scss";

.containerCount {
    padding: 1rem;
    width: 100%;

    .card {
        padding: 1rem;
        background-color: $grey;
        border: 2px dashed black;
        border-radius: $standart-b-radius;
        height: 8.5rem;
        font-weight: 600;

        .receiptSum {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: $size-header;
            margin-bottom: 1rem;
            line-height: 1.5;
        }

        .submitBtnContainer {
            height: 3rem;
            width: 100%;
            @include dfc;
        }
    }
}