@import "../../styles/main.scss";

.container {
    // @include dfc;
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    height: 4rem;
    font-size: $size-header;
    box-shadow: $main-shadow;
    font-weight: 100;
    position: fixed;
    background-color: $white;
    width: 100%;
    z-index: 2;

    .hamburger {
        display: none;
    }

    .userIcon {
        @include dfc;
        margin-left: 1rem;
        border-radius: 2rem;
        height: 2.5rem;
        padding: 0.3rem;

        svg {
            width: 2.5rem;
            height: 2.5rem;
        }

        // &:hover {
        //     background-color: $grey;
        // }
    }

    a {
        text-decoration: none;

        .logo {
            font-family: $cursive-font;
            font-size: 20pt;
            margin-left: 1rem;
            border-radius: 0.7rem;
            padding: 0.5rem 0.7rem;
            background-color: black;
            color: white;
            white-space: nowrap;
            justify-self: flex-start;
        }
    }

    .headerLink {
        margin-left: 2rem;
        border-radius: $standart-b-radius;
        padding: 0.3rem;
        text-decoration: none;
        color: black;
        position: relative;
        cursor: pointer;
        @include underlineAnimation;

        .catalogAccordion {
            position: absolute;
            top: 115%;
            left: 0;
            width: 12rem;
            font-size: $size-p;
            max-height: 0rem;
            background-image: url(/cloth.jpg);
            background-size: cover;
            box-shadow: $main-shadow;
            transition: all 0.3s ease-in;
            overflow: hidden;

            &.open {
                max-height: 13rem;
                transition: all 0.3s ease-in;
            }

            .listItem {
                padding: 0.2rem 1rem;
                border-bottom: 1px dashed black;
                border-top: 1px dashed black;

                &:hover {
                    color: $red;
                }
            }
        }

        .chevron {
            position: absolute;
            top: 0.6rem;
            right: -1.5rem;

            &.open {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }



    // &.open {}
}

.searchFrom {
    @include dfc;
    height: 2rem;
    width: 100%;
    max-width: 55%;
    margin-left: 2rem;

    .searchIcon {
        border-bottom: 2px solid black;
        height: 100%;
        padding: 0 0.5rem;
        border-bottom-right-radius: $standart-b-radius;
        box-sizing: border-box;

        svg {
            height: 1.3rem;
        }
    }

    input {
        background-color: $white;
        border: none;
        border-bottom: 2px solid black;
        font-size: $size-p;
        border-bottom-left-radius: $standart-b-radius;
        padding: 0 0.5rem;
        outline: none;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        font-family: $main-font;
    }
}


@include tablet {
    .container {
        .hamburger {
            display: block;
            margin-left: 1rem;
            box-sizing: border-box;


        }

        .userIcon {
            display: none;
        }

        .logo {
            display: none;


        }

        .headerLink {
            display: none;
        }

        .searchFrom {
            @include dfc;
            height: 2rem;
            width: 100%;
            max-width: 100%;
            margin-left: 1rem;

            .searchIcon {
                border-bottom: 3px solid black;
                height: 100%;
                padding: 0 0.5rem;
                border-bottom-right-radius: $standart-b-radius;
                box-sizing: border-box;

                svg {
                    height: 1.3rem;
                }
            }

            input {
                background-color: $white;
                border: none;
                border-bottom: 3px solid black;
                font-size: $size-p;
                border-bottom-left-radius: $standart-b-radius;
                padding: 0 0.5rem;
                outline: none;
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                outline: none;
                font-family: $main-font;
            }
        }
    }
}