@import "../../styles/main.scss";

.container {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    height: 4rem;
    font-size: $size-header;
    box-shadow: $main-shadow;
    font-weight: 100;
    position: fixed;
    background-color: $white;
    width: 100%;
    z-index: 2;

    .hamburger {
        display: none;
    }

    a {
        text-decoration: none;

        .logo {
            font-family: $cursive-font;
            font-size: 20pt;
            margin-left: 1rem;
            border-radius: 0.7rem;
            padding: 0.5rem 0.7rem;
            background-color: black;
            color: white;
            white-space: nowrap;
            justify-self: flex-start;
        }
    }

    .headerLink {
        margin-left: 2.5rem;
        border-radius: $standart-b-radius;
        padding: 0.5rem;
        text-decoration: none;
        color: black;
        position: relative;
        cursor: pointer;
        @include hoverAnimation;
        line-height: 1;
        white-space: nowrap;
        @include dfc;
        max-height: 2.5rem;

        .chevron {
            padding-top: 0.5rem;
            padding-left: 0.5rem;

            &.open {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        .catalogAccordion {
            position: absolute;
            top: 115%;
            left: 0;
            width: 12rem;
            font-size: $size-p;
            max-height: 0rem;
            background-image: url(/cloth.jpg);
            box-shadow: none;
            transition: all 0.2s ease-in;
            overflow: hidden;
            border-radius: $standart-b-radius;
            border: 1px solid $white;

            &.open {
                max-height: 13rem;
                transition: all 0.2s ease-in;
                border: 1px dashed black;
                box-shadow: $main-shadow;
            }

            .listItem {
                padding: 0.5rem 1.5rem;
                border-bottom: 1px dashed black;
                border-top: 1px dashed black;

                &:hover {
                    color: $red;
                }
            }
        }
    }
}

@include tablet {
    .container {
        z-index: 3;

        .hamburger {
            display: block;
            margin-left: 1rem;
        }

        .userIcon {
            display: none;
        }

        .logo {
            display: none;
        }

        .headerLink {
            display: none;
        }
    }
}