@import "../styles/main.scss";

.container {
    // @include dfc;
    display: flex;
    align-items: center;
    height: 4rem;
    font-size: $size-header;
    box-shadow: $main-shadow;
    font-weight: 300;

    .userIcon {
        @include dfc;
        margin-left: 1rem;
        border-radius: 2rem;
        height: 2.5rem;
        padding: 0.3rem;

        svg {
            width: 2.5rem;
            height: 2.5rem;
        }

        // &:hover {
        //     background-color: $grey;
        // }
    }


    .logo {
        font-family: $cursive-font;
        font-size: 24pt;
        margin-left: 1rem;
        border-radius: 0.7rem;
        padding: 0.1rem 0.3rem;
        background-color: black;
        color: white;
        border: 3px solid $red;
        outline: 3px solid black;

    }

    .headerLink {
        margin-left: 1rem;
        border-radius: $standart-b-radius;
        padding: 0.3rem;

        // &:hover {
        //     background-color: $grey;
        //     border-radius: $standart-b-radius;
        // }
    }

    .searchFrom {
        @include dfc;
        height: 2rem;
        margin: 0 1rem;

        .searchIcon {
            border-bottom: 1px solid black;
            height: 2rem;
            padding: 0 0.5rem;
            border-bottom-right-radius: $standart-b-radius;


            svg {
                height: 1.3rem;
            }
        }

        input {
            background-color: $white;
            border: none;
            border-bottom: 1px solid black;
            font-size: $size-p;
            height: 2rem;
            border-bottom-left-radius: $standart-b-radius;

            &:focus {
                outline: none;
            }
        }
    }
}