@import "../../../styles/main.scss";


.container {
    background-color: $asphalt;
    height: 3rem;
    width: 100%;
    color: $white;
    margin-top: 2rem;
    @include dfc;
    position: relative;


    .gitLink {
        text-decoration: none;
        font-size: $size-p;
        @include dfc;
        cursor: pointer;
        color: $white;
        width: 20rem;

        &:visited {
            color: $white;
        }

        &:hover {
            color: $green;
        }

        .iconWrap {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}