@import "../../styles/main.scss";

.container {
    padding: 4rem 0 0 0;
    font-size: $size-p;
    width: 100%;
    display: flex;
    justify-content: center;

    .card {
        margin: 2rem 0;
        background-color: white;
        width: fit-content;
        max-width: 70%;
        height: fit-content;
        position: static;
        box-shadow: $main-shadow;
        border-radius: $standart-b-radius;

        .backBtnWrap {
            width: 15rem;
            height: 6rem;
            @include dfc;
            padding: 2rem;
            cursor: pointer;
            text-decoration: none;
            color: black;

            .backBtn {
                font-size: $size-header;
                position: relative;
                border-radius: $standart-b-radius;
                padding: 1rem;

                svg {
                    margin-right: 0.3rem;
                }

                @include hoverAnimation;
            }
        }

        .product {
            display: flex;
            padding: 0 3rem 3rem 3rem;

            .image {
                margin-right: 2rem;
                border: 2px dashed black;
                border-radius: $standart-b-radius;
                padding: 1rem;
                background-color: white;
                height: 14.1rem;
                width: 12.1rem;
                @include dfc;

                img {
                    max-height: 12rem;
                    max-width: 10rem;
                }
            }

            .info {
                display: flex;
                flex-direction: column;

                .title {
                    font-size: $size-header;
                    font-weight: 600;
                }

                .description {
                    margin-top: 1rem;
                }

                .price {
                    margin-top: 1rem;
                    align-self: flex-end;
                    font-size: $size-header;
                    font-weight: 600;
                }

                .btnWrap {
                    align-self: flex-end;
                }
            }
        }
    }
}

@include tablet {
    .container {
        height: 100%;

        .card {
            .backBtnWrap {
                padding: 0;
                width: 10rem;
                height: 5rem;
            }

            .product {
                @include dfcc;

                .image {
                    margin-right: 0;
                }

                .info {
                    .title {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}

@include lowTablet {
    .container {
        .card {

            max-width: 90%;

            .product {
                padding: 1.5rem;
            }
        }
    }
}