@import "../main.scss";

.container {
    padding-top: 6rem;
    @include dfc;

    .messageWrap {
        font-size: $size-huge;
        background-color: $grey;
        height: 30rem;
        width: 65rem;
        border-radius: $standart-b-radius;
        box-shadow: $main-shadow;
        @include dfcc;

        .message {
            text-align: center;
        }

        .btn {
            margin-top: 1rem;
        }
    }
}