@import "../main.scss";

.container {
    padding-top: 8rem;
    @include dfc;

    .messageWrap {
        font-size: $size-huge;
        background-color: $grey;
        height: fit-content;
        width: fit-content;
        max-width: 95%;
        padding: 2.5rem;
        border-radius: $standart-b-radius;
        box-shadow: $main-shadow;
        @include dfcc;

        .message {
            text-align: center;

            .orderId {
                cursor: pointer;
                text-decoration: underline;

                &:hover {
                    color: $red;
                }
            }
        }

        .btn {
            margin-top: 1rem;
        }
    }
}

@include tablet {
    .container {
        .messageWrap {
            font-size: $size-header;
        }
    }
}

@include lowTablet {
    .container {
        padding-top: 6rem;

        .messageWrap {
            font-size: $size-p;
        }
    }
}