@import "../main.scss";


.buttonWrap {
    padding-top: 5rem;

    .button {
        width: 9rem;
        text-align: center;
        margin: 0 auto;
        padding: 1rem;
        font-size: $size-header;
        background-color: $grey;
        box-sizing: border-box;
        box-shadow: $main-shadow;
        cursor: pointer;
    }
}

.data {
    // background-color: red;
    text-align: center;
    font-size: $size-header;
    margin-top: 3rem;
}