@import "../main.scss";


.buttonWrap {
    padding-top: 10rem;

    .button {
        width: 9rem;
        text-align: center;
        margin: 0 auto;
        padding: 1rem;
        font-size: $size-header;
        background-color: $grey;
        box-sizing: border-box;
        box-shadow: $main-shadow;
        cursor: pointer;
    }
}