@import "../main.scss";

.container {
    padding-top: 7rem;
    margin: 0 10%;

    .inputWrap {
        display: flex;
        margin: 2rem 0;
        width: 100%;
        position: relative;

        input {
            width: 100%;
            height: 3.1rem;
            padding: 1.2rem;
            font-size: $size-header;
            background-color: white;
            box-shadow: inset 1px 0px 6px rgba(0, 0, 0, 0.3);
            border-radius: $standart-b-radius;
            margin-top: 0.5rem;
            border: 2px solid transparent;
            position: relative;

            &:focus {
                border: 2px solid rgb(175, 175, 175);
            }

            &:invalid[focused="true"] {
                border: 2px solid rgb(208, 24, 37);
            }

            &:invalid[focused="true"]~div {
                display: block;
            }
        }

        .inputError {
            color: rgb(208, 24, 37);
            display: none;
            position: absolute;
            top: -1.5rem;
            font-size: $size-p;
            line-height: 1;
        }

        .btnWrap {
            margin-left: 2rem;
        }
    }

    .orderInfoWrap {
        margin-top: 2rem;
        background-color: white;
        width: 100%;
        min-width: 50%;
        box-shadow: $main-shadow;
        border-radius: $standart-b-radius;
        padding: 1rem;
        margin: 0 auto;

        table {
            font-size: $size-p;
            width: 100%;
            min-width: 50%;

            thead {
                color: white;
                font-size: $size-header;

                &.greyHeader {
                    background-color: $asphalt;
                }

                &.redHeader {
                    background-color: $red;
                }
            }

            tbody {
                tr {
                    &.title {
                        background-color: $grey;
                        font-weight: 600;
                    }

                    td {
                        &:first-child {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    .errorMessage {
        font-size: $size-header;
        background-color: $grey;
        padding: 2rem;
        font-weight: 600;
        color: $red;
    }

    .loadingWrap {
        @include dfc;
    }
}

@include lowTablet {
    .container {
        margin: 0 5%;

        .inputWrap {
            flex-direction: column;

            .inputError {
                top: -2.2rem
            }

            .btnWrap {
                margin: 0 auto;
            }
        }

        .orderInfoWrap {
            table {
                text-wrap: normal;
                word-break: break-all;
            }
        }
    }
}